DIR=`pwd`
PATH_add $DIR/.direnv/bin
bun i

init() {
  if [ ! -d $DIR/$1/node_modules ]; then
    cd $DIR/$1
    bun i
    cd $DIR
  fi
}

init .

env_sh() {
  cd $DIR/../../conf/conn
  local i
  for i in $@; do
    set -o allexport
    source "$i".sh
    set +o allexport
  done

  cd $DIR
  unset -f env_sh
}

env_sh host apg qdrant
